/* Applied through out web page*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex; 
  align-content: flex-start;
  flex-flow: row;
  height: 100%;
  width: 100vw; 
}

.page-container {
  display: flex;
  align-content: flex-start;
  flex-flow: row wrap;
  height: 100%;
  min-width: 80%;
  width: 100%;
}

/* Navigation side bar */

.sidebar {
  width: 15rem; 
  background-color: #31475A; 
}

.sidebar section {
  padding: 1rem; 
}

.sidebar section ul {
  padding: 0;
}

.sidebar section ul li {
  list-style: none; 
  cursor: pointer; 
  color: #A5B6C3; 
  padding: 5px 0;
  margin-bottom: 12px; 
  font-size: 12px; 
}

.sidebar section ul li:hover {
  color: #ffffff; 
}

.nav-icons:hover {
  color: #ffffff;
}

.sidebar section h3 {
  height: 1.5rem; 
  color: #607A99; 
  margin-bottom: 10px;
}

.nav-icons {
  font-size: 12px; 
  color: #A5B6C3; 
  cursor: pointer;
}

.box1 {
  color: yellow;
  
}

.box2 {
  color: blue;   
}

.box3 {
  color: red; 
}

.box4 {
  color: green;
}

.profile-picture {
  border-bottom: 1px solid #2e394a;
  margin-top: 30px; 
  color: #A5B6C3; 
}

.profile-image {
  background-image: url('images/derek-shadow.gif');
  background-size: cover; 
  border: none;
  border-radius: 50% 50%;
  height: 5rem;
  width: 5rem;
  margin-left: 2rem; 
  margin-bottom: 1rem
}

.header-icon {
  font-size: 16px; 
}

.sidebar-main {
  border-bottom: 1px solid #2e294a;
}

.sidebar-admin {
  border-bottom: 1px solid #2e294a;
}

/* Search area */

header {
  align-content: flex-end;
  align-self: flex-end;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  height: auto;
  min-height: 13rem;
  width: 100%;
}

.search-area { 
  display: flex; 
  flex-direction: row; 
  border-bottom: 2px solid #F4F3F4;
  background-color: #ffffff; 
  background-image: #fff url('images/search.svg') no-repeat;
  height: 1.7rem;
  flex: 1 0;
  margin: 0 1rem 1rem 1rem;
  outline: 0;
  min-width: 2rem;
  width: 100%;
  text-indent: 2rem;
  font-size: 16px; 
}

.search-boxes {
  display: flex;
  align-items: center;
  margin: 0;
  width: 5rem; 
  cursor: pointer; 
}

.search-boxes:hover {
  background-color: #4FBDEE;
}

.search-icons:hover {
  color: #ffffff; 
}

.search-icons {
  font-size: 20px; 
  color: #A5B6C3; 
}

.search-input {
  width: 80%;
  text-indent: 2rem;
  border: none; 
}

.left-fig {
  border-right: 1px solid #F4F3F4;
}

.add-user-fig {
  border-left: 1px solid #F4F3F4; 
}
.middle-fig {
  border-left: 1px solid #F4F3F4; 
  border-right: 1px solid #F4F3F4;
}


 /* Bio section */

.bio-section {
  display: flex;
  justify-content: space-between;
  /*flex-direction: column;*/ 
  padding: 20px;
  background-color: #ffffff; 
}

.bio {
  display: flex; 
  flex-direction: column;
}

h2 {
  font-size: 25px;
}

.location {
  font-size: 18px; 
  margin-top: 10px; 
  color: #A5B6C3;
}

.bullet-point {
  content: "\2022";
  font-size: 8px; 
}

.preview {
  font-size: 12px; 
  color: #4FBDEE;
  cursor: pointer; 
  margin-left: 5px; 
}

.bio-buttons {
  display: flex; 
  align-items: center; 
}

.bio-buttons button {
  height: 40px;
  margin-left: 1rem;
  cursor: pointer; 

}

.bio-button {
  display: flex; 
  justify-content: space-around;
  border-radius: 20px;
}

.open-button {
  display: flex;
  align-items: center; 
  height: 40px;
  border-radius: 20px;
  padding: 0 1rem;
  color: #A5B6C3;
}

.status-indicator {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: green;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}

.bio-icons {
  font-size: 16px;
  color: #A5B6C3;
}

 /* Additional page navigation, below bio section */

menu {
  display: flex;
  flex-direction: row; 
  cursor: pointer;
  padding-left: 1.5rem; 
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 60rem;
  min-width: 30rem; 
}

.menu-options {
  list-style: none; 
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-bottom: 2px solid transparent;
}

.menu-options:hover {
  border-bottom: 2px solid #4FBDEE;
}

  /* Grid for page's main content */

main {
  background-color: #ECF2F6; 
}

  /*Circular and bar graph section */

.graphs-container { 
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
}

.circle-graph-container { 
  display: flex; 
  flex-direction: row; 
  margin-right: 0; 
}

.grap-info-left {
  width: 14rem;
}

.graph-info-right {
  width: 10rem;
}

.graph-summary {
  display: flex;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.circle-container {
  display: flex;
  flex-direction: column; 
}

.circular-chart {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  width: 10rem; 
  height: auto;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}



.bar-graph-container img {
  width: 20rem; 
  height: auto; 
}

 /* Page Break Section */

.page-break {
  margin: 1rem 1rem;
  display: flex;
  flex-direction: row;
}

.middle-line {
  font-size: 1rem;
  width: 90%;
}

.collapse-button {
  border-radius: 50px;
  margin: 0 1rem;
  cursor: pointer;
}


 /* Job description table */

.job-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
}

.job-description {
  display: flex; 
  flex-direction: column; 
  background-color: #ffffff;
  height: 100%;
  width: 100%; 
  margin-left: 3rem; 
}

.column {
  display: flex;
  flex-direction: row; 
  border: 1px solid gray;
  font-size: 10px;
  align-items: center; 
  height: 4rem; 
}

.table-header {
  background-color: #707E94; 
  color: #FFFFFF;
  height: 4rem; 
  padding: 1rem 1rem;
}

.job-icons {
  font-size: 12px;
}

.edit-button {
  background-color: #31475A;
  color: #ffffff;
  margin-left: 1rem;  
  cursor: pointer;
  border: none;  
}

.row-title {
  width: 10rem;
  color:  #607A99; 
  padding: 1rem 1rem;
}

.table-img {
  border-radius: 50% 50%;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  background: url('images/pop.jpg') no-repeat center / cover ; 
}


/* Social media and links to share job information */

.share-job {
  display: flex; 
  flex-direction: column; 
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px;
}

.social-buttons-conatainer {
  display: flex;
  flex-direction: column;
}

.social-button {
  color: #ffffff;
  height: 3.5rem;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.social-icons {
  font-size: 12px;
  color: #ffffff; 
  margin-right: 2rem; 
}

.fa-twitter {
  margin-right: 2.5rem; 
}

.link-job-container input {
  flex-grow: 1;
}

.copy-link {
  width: 5rem;
  background-color: #4FBAC2;
}

.facebook-button {
  background-color: #4C71BE;
}

.twitter-button {
  background-color: #4FBDEE;
}

.linkedin-button {
  background-color: #1580B9;
}

 /*Media Queries */

@media screen and(max-width: 1100px) {
  
}

@media (max-width: 650px) {
  .sidebar {
    display: none; 
  }

  .job-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
       
}
