/* Applied through out web page*/

* {
  box-sizing: border-box;
}

body {
  display: grid; 
  grid-template-columns: 15rem, 1fr; 
  font-family: 'Open Sans', sans-serif;
}

/* Navigation side bar */

.sidebar {
  background-color: #31475A; 
}

.sidebar section {
  padding: 1rem; 
}

.sidebar section ul {
  padding: 0;
}

.sidebar section ul li {
  list-style: none; 
  cursor: pointer; 
  color: #A5B6C3; 
  padding: 5px 0;
  margin-bottom: 12px; 
  font-size 12px; 
}

.sidebar section h3 {
  height: 1.5rem; 
  color: #607A99; 
  margin-bottom: 10px;
}

.nav-icons {
  font-size: 12px; 
  color: #A5B6C3; 
  margin-right: 1rem;
}

.box1 {
  color: yellow;
  
}

.box2 {
  color: blue;   
}

.box3 {
  color: red; 
}

.box4 {
  color: green;
}

.profile-picture {
  border-bottom: 1px solid #2e394a;
  margin-top: 30px; 
  color: #A5B6C3; 
}

.profile-image {
  background-image: url('images/derek-shadow.gif');
  background-size: cover; 
  border: none;
  border-radius: 50% 50%;
  height: 5rem;
  width: 5rem;
  margin-left: 2rem; 
  margin-bottom: 1rem
}

.profile-header {
  margin-left: 10px; 
}

.header-icon {
  font-size: 16px; 
}

.sidebar-main {
  border-bottom: 1px solid #2e294a;
}

.sidebar-admin {
  border-bottom: 1px solid #2e294a;
}

 /* Search area */

.search-area {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem 5rem 5rem; 
  border-bottom: 2px solid #F4F3F4;
  background-color: #ffffff; 
}

.search-boxes {
  display: flex;
  justify-content: center;
  margin: 0;
  align-items: center;
  height: 80px;
  width: 80px;
}

.searh-icons {
  font-size: 20px; 
}

.middle-fig {
  border-left: 1px solid #F4F3F4; 
  border-right: 1px solid #F4F3F4;
}

/* Other Sections 

/* Bio section */

.bio-section {
  display: flex;
  flex-direction: column; 
  padding: 20px;
  background-color: #ffffff; 
}

.bio {
  display: flex; 
  flex-direction: column;
}

.bio-buttons {
  display: flex; 
  align-items: center; 
}

.bio-buttons button {
  height: 40px;
  margin-left: 1rem;
}

.bio-button {
  display: flex; 
  justify-content: space-around;
  border-radius: 20px;
}

.open-button {
  display: flex;
  align-items: center; 
  height: 40px;
  border-radius: 20px;
  padding: 0 1rem;
}

.status-indicator {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: green;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}

.bio-icons {
  font-size: 18px;
}

/* Additional page navigation, below bio section */
menu {
  display: flex;
  flex-direction: row; 
  cursor: pointer;
  background-color: #ffffff; 
  margin: auto 0 1rem 2rem;

}

.menu-options {
  list-style: none; 
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  font-size: 18px;
}

.menu-options:hover {
  border-bottom: 2px solid #4FBDEE;
}

/* Grid for page's main content */
main {
  display: grid; 
  grid-column: 2 / 5; 
  background-color: #ECF2F6; 
}

/* Circular and bar graph section */
.graphs-container {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
}

.circle-graph-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  margin-right: 0; 
}

.grap-info-left {
  width: 14rem;
}

.graph-info-right {
  width: 10rem;
}

.graph-summary {
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.circular-chart {
  display: block; 
  margin: 10px auto;
  width: 10rem; 
  height: auto;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.bar-graph-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.bar-graph-container img {
  width: 20rem;
  height: auto; 
}

/* Page Break Section */
.page-break {
  display: grid; 
  grid-template-columns: 1fr 2rem 1fr;
  margin: 1rem 0;
}

hr {
  font-size: 1rem;
  width: 90%;
}

.collapse-button {
  border-radius: 50px;
}


/* Job description area */

.job-info-area {
  display: grid; 
  grid-template-columns: 1fr 1fr;
}

.job-description {
  padding: 20px;
}

.job-icons {
  font-size: 12px;
}

table {
  border-collapse: collapse;
  background-color: #ffffff; 
}

td {
  border: 2px solid gray;
  border-left: none; 
  border-right: none;
  padding: 1rem 1rem;
}

thead {
  background-color: #707E94; 
  color: #FFFFFF;
}

.share-job {
  display: flex; 
  flex-direction: column; 
  margin: 0 auto;
  padding: 20px;
}

.share-job-button {
  color: #ffffff;
  height: 3.5rem;
  width: 100%;
}

.link-job-container input {
  flex-grow: 1;
}

.copy-link {
  width: 5rem;
  background-color: #4FBAC2;
}

.facebook-button {
  background-color: #4C71BE;
}

.twitter-button {
  background-color: #4FBDEE;
}

.linkedin-button {
  background-color: #1580B9;
}

/* Media Queries */

@media /*screen and*/(max-width: 1100px) {
  .graphs-container {
    display: grid; 
    grid-template-columns: 1fr;
    background-color: #000000;  
  }
}

@media (max-width: 700px) {
  .job-info-area {
    display: grid; 
    grid-template-columns: 1fr; 
    background-color: #000000;  
}
