/* Applied through out web page*/

* {
  box-sizing: border-box;
}

body {
  display: grid; 
  grid-template-columns: 15rem, 1fr; 
  font-family: 'Open Sans', sans-serif;
}

/* Navigation side bar */

.sidebar {
  background-color: #31475A; 
}

.sidebar section {
  padding: 1rem; 
}

.sidebar section ul {
  padding: 0;
}

.sidebar section ul li {
  list-style: none; 
  cursor: pointer; 
}

.nav-icons {
  font-size: 12px; 
  color: #A5B6C3; 
  margin-right: 1rem;
}

.profile-picture {
  border-bottom: 1px solid #2e394a;
  margin-top: 30px; 
  color: #A5B6C3; 
}

.sidebar-main {
  border-bottom: 1px solid #2e294a;
}



/* Other Sections */
.graphs-container {
  grid-template-columns: repeat(2, 1fr); 
}

.job-info-area {
  grid-template-columns: repeat(2, 1fr);
}








